img{
    width: 150px;
    height: 100px;
    
}
.container{
    Box-shadow: 0px 5px 20px 0px #e0ddd3;
    margin: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.placar-de-vida{
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
}
.jogadores{
    width:40%;
    text-align: center;
    font-size: 18px;
    
}

.barra{
    width:100% ;
    border: #c4c2b9 1px solid;
    height: 20%;
}

.conteudo-barra{
    background: #147507;
    max-width: 100%
}

.placar-de-resultado{
    text-align: center;
}

/* Botões */

.botoes{
    border-radius: 5px;
    padding: 5px;
    border: none;
    color: white;
}
.rasengan{
    background: #2ac3d1;
    
}

.bijuudama{
    background: #a35292;
    
}
.curar{
    background: #6be3b1;
    color: #000000
}

.desistir{
    background: #8a8884;
    
}

.novo-jogo{
    background: #2974c4;
}

.lista{
    width: 95%;
    list-style: none;
}
.linha:nth-child(odd){
    background: #a35292;
}

.linha:nth-child(even){
    background: #db5e5e;
    margin-bottom: 8px;
}

.linha{
    
    border-radius: 5px;
    text-align: center;
    color: white;
    padding: 4px;
}

#botao-rodada:disabled {
    opacity: .2;
}
